<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image.url(:book_show), class: "book-show"  %>
  </div>

  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <h4 class="average-rating">Average Rating</h4>
      <div class="averge-review-rating" data-score="<%= @average_review %>"></div>
      <span class="numer-of-reviews"><em>From:</em>  <%= @book.reviews.count %> reviews</span>
    <p><%= @book.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <% if @book.reviews.count > 0 %>
          <h1>Review</h1>
          <%= render @book.reviews %>
      <% end %>
      <br>
    <div>
      <%= link_to 'Add Review', new_book_review_path(@book), class: "btn btn-default" %>
    </div>
    <br>
  </div>
</div>
  <%= link_to 'Back', books_path, class: "btn btn-info" %>
<% if user_signed_in? %>
  <% if @book.user_id == current_user.id %>
    <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %>

  <% end %>
<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score')
    },
    path: '/assets/'
  });
  </script>

  <script>
  $('.averge-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function(){
      return $(this).attr('data-score')
    }
  });
</script>
